{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Products</span></h2>
    <div class="row px-xl-5">
        {% for product in search_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <div style="max-width: 355px; max-height: 450px;">
                        <img class="img-fluid w-100" style="object-fit: cover; height: 100%; width: 100%;"
                            src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-action">
                        <form method="post">
                            {% csrf_token %}
                            <a class="btn btn-outline-dark btn-square" href="">
                                <input name="favorite" type="hidden" value="cart">
                                <input name="product_name" type="hidden" value="{{product.name}}">
                                <input name="username" type="hidden" value="{{user.username}}">
                                <button class="btn btn-outline-dark btn-square" type="submit">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </a>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <a class="btn btn-outline-dark btn-square" href="">
                                <input name="favorite" type="hidden" value="favorite">
                                <input name="product_name" type="hidden" value="{{product.name}}">
                                <input name="username" type="hidden" value="{{user.username}}">
                                <button class="btn btn-outline-dark btn-square" type="submit">
                                    <i class="far fa-heart"></i>
                                </button>
                            </a>
                        </form>
                        <a class="btn btn-outline-dark btn-square" href="{% url 'shop-detail' product.id %}"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{product.name}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        {% if product.sale_price == None %}
                        <h5>{{product.price_type}}{{product.price}}</h5>
                        <h6 class="text-muted ml-2"><del>{{product.price_type}}{{product.price}}</del></h6> -->
                            {% else %}
                            <h5>{{product.price_type}}{{product.sale_price}}</h5>
                            <h6 class="text-muted ml-2"><del>{{product.price_type}}{{product.price}}</del></h6>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>({{product.how_many}})</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>{% for result in search_products %}</h1>
        <ul>
                <li>{{ product.name }} - {{ product.category }} - {{ product.description }}</li>
        </ul>
        <p></p>
         {% endfor %}
</body>
</html>